

// Fonts 

$font-main: 'Avenir';

$font-body: $font-main, Helvetica, Arial, sans-serif;


//Colors
$color-main: #2c3e50;
$color-brand: #42b983;


$color-text-main: $color-main;
$color-text-highlight: $color-brand;
